<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<h1> Upload files here</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="submit" value="submit">
</form>
</body>
</html>