<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<h1> Upload files here</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="submit" value="submit">
</form>



<%if (msg === 'Access Denied !') { %>
<img src="http://www.animatedimages.org/data/media/703/animated-warning-image-0016.gif" />
<% } else { %>
<h1>Hello there <%= msg %></h1>
<audio controls>
    <source src=<%= audioFile %> type="audio/mpeg" autoplay>
    Your browser does not support the audio element.
</audio>

<% } %>
</body>
</html>